--
-- Create model Payment
--
CREATE TABLE `core_payment` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `amount` numeric(10, 2) NOT NULL, `currency` varchar(3) NOT NULL, `status` varchar(20) NOT NULL, `stripe_payment_intent_id` varchar(100) NULL, `payment_method` varchar(50) NOT NULL, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL);
--
-- Create model Plan
--
CREATE TABLE `core_plan` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `name` varchar(100) NOT NULL UNIQUE, `slug` varchar(120) NOT NULL UNIQUE, `description` longtext NOT NULL, `plan_type` varchar(20) NOT NULL, `price_monthly` numeric(10, 2) NOT NULL, `price_quarterly` numeric(10, 2) NULL, `price_annually` numeric(10, 2) NULL, `price_biennial` numeric(10, 2) NULL, `currency` varchar(3) NOT NULL, `billing_cycles` varchar(20) NOT NULL, `trial_days` integer UNSIGNED NOT NULL CHECK (`trial_days` >= 0), `trial_features` json NOT NULL, `max_users` integer UNSIGNED NULL CHECK (`max_users` >= 0), `max_tickets_per_month` integer UNSIGNED NULL CHECK (`max_tickets_per_month` >= 0), `max_agents` integer UNSIGNED NULL CHECK (`max_agents` >= 0), `storage_limit_gb` integer UNSIGNED NULL CHECK (`storage_limit_gb` >= 0), `api_calls_per_month` integer UNSIGNED NULL CHECK (`api_calls_per_month` >= 0), `features` json NOT NULL, `status` varchar(20) NOT NULL, `is_popular` bool NOT NULL, `sort_order` integer UNSIGNED NOT NULL CHECK (`sort_order` >= 0), `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `metadata` json NOT NULL);
--
-- Create model PlanFeature
--
CREATE TABLE `core_planfeature` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `name` varchar(100) NOT NULL UNIQUE, `display_name` varchar(100) NOT NULL, `description` longtext NOT NULL, `feature_type` varchar(20) NOT NULL, `default_value` json NOT NULL, `icon` varchar(50) NOT NULL, `category` varchar(50) NOT NULL, `is_premium` bool NOT NULL, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL);
--
-- Create model Subscription
--
CREATE TABLE `core_subscription` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `status` varchar(20) NOT NULL, `current_period_start` datetime(6) NULL, `current_period_end` datetime(6) NULL, `trial_start` datetime(6) NULL, `trial_end` datetime(6) NULL, `amount` numeric(10, 2) NOT NULL, `currency` varchar(3) NOT NULL, `stripe_subscription_id` varchar(100) NULL, `metadata` json NOT NULL, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `plan_id` bigint NULL, `user_id` integer NOT NULL UNIQUE);
--
-- Create model PlanFeatureMapping
--
CREATE TABLE `core_planfeaturemapping` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `value` json NOT NULL, `is_enabled` bool NOT NULL, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `feature_id` bigint NOT NULL, `plan_id` bigint NOT NULL);
--
-- Create index core_plan_status_fff732_idx on field(s) status, plan_type of model plan
--
CREATE INDEX `core_plan_status_fff732_idx` ON `core_plan` (`status`, `plan_type`);
--
-- Create index core_plan_is_popu_d00838_idx on field(s) is_popular, sort_order of model plan
--
CREATE INDEX `core_plan_is_popu_d00838_idx` ON `core_plan` (`is_popular`, `sort_order`);
--
-- Add field subscription to payment
--
ALTER TABLE `core_payment` ADD COLUMN `subscription_id` bigint NULL , ADD CONSTRAINT `core_payment_subscription_id_2b0568b8_fk_core_subscription_id` FOREIGN KEY (`subscription_id`) REFERENCES `core_subscription`(`id`);
--
-- Add field user to payment
--
ALTER TABLE `core_payment` ADD COLUMN `user_id` integer NOT NULL , ADD CONSTRAINT `core_payment_user_id_274e164a_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user`(`id`);
--
-- Alter unique_together for planfeaturemapping (1 constraint(s))
--
ALTER TABLE `core_planfeaturemapping` ADD CONSTRAINT `core_planfeaturemapping_plan_id_feature_id_6cb04b43_uniq` UNIQUE (`plan_id`, `feature_id`);
ALTER TABLE `core_subscription` ADD CONSTRAINT `core_subscription_plan_id_0e74cf05_fk_core_plan_id` FOREIGN KEY (`plan_id`) REFERENCES `core_plan` (`id`);
ALTER TABLE `core_subscription` ADD CONSTRAINT `core_subscription_user_id_47899df3_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`);
ALTER TABLE `core_planfeaturemapping` ADD CONSTRAINT `core_planfeaturemapp_feature_id_c61375ab_fk_core_plan` FOREIGN KEY (`feature_id`) REFERENCES `core_planfeature` (`id`);
ALTER TABLE `core_planfeaturemapping` ADD CONSTRAINT `core_planfeaturemapping_plan_id_fb75013a_fk_core_plan_id` FOREIGN KEY (`plan_id`) REFERENCES `core_plan` (`id`);
